.header
  text-transform: capitalize
  padding-right: 20px
  display: flex
  +position(flex-end, center)
  +font(18px, 400)
  color: color(black)
  height: 40px
  padding-left: 20px
  span
    padding: 2px
