.content
  @extend .col, .centrate
  +size(100%, auto)
  h1, h2, h3
    letter-spacing: 0.04em
    font-weight: 300
  h1
    font-size: 50px
  h2
    font-size: 40px
  h3
    +font(30px, 300)
    padding: 50px 0 40px
    text-align: center

// ==== Hi message
.intro
  @extend .centrate, .col
  text-align: center
  max-width: 850px
  height: 50vh

// ==== Latest projects
.latest
  @extend .centrate, .col
  width: 100%
  background: $back-black
  &__conteiner
    margin: 0 auto
    max-width: 1000px
    width: 100%
  h1, h2, h3
    color: color(whitesmoke)

// ==== See More
.see-more
  padding-bottom: 30px
  &__tags
    @extend .row, .centrate
    +font(14px, 400)
    margin-bottom: 30px
    a
      color: color(lightgray)
      margin: 0 8px
      line-height: 1.3
      position: relative
      &:after
        content: ""
        transition: transform 0.2s
        transform: scaleX(0)
      &:hover::after
        transform: scaleX(1)
        position: absolute
        content: ""
        width: 100%
        left: 0
        bottom: 0
        border-bottom: 2px solid color(orange)

// === Contact
.contact
  width: 100%
  height: 50vh
  margin-bottom: 40px
  &__list
    @extend .row
    padding: 0 20px
    margin: 0 auto
    max-width: 400px
    justify-content: space-between
    list-style-type: none
  &__link
    @extend .col, .centrate
    flex-wrap: nowrap
    margin: 0 10px
    color: color(black)
    font-size: 20px
    &:hover
      color: color(orange)
  &__icon
    +size(60px, 60px)
    margin-bottom: 4px
