$noNav: 640px

// ==== Project zoom page
+break(sm)
  .zoom
    justify-content: flex-start
    &__visual,
    &__info
      padding: 0 10px
    +break(700px)
    &__img
      border-radius: 0

// ==== Main layout to column
+break($noNav)
  .main
    flex-direction: column
    &__section
      margin-top: 80px

// ==== Navbar
+break(720px)
  .nav .nav__fixed
    &-header
      +grid(2, 6)
      height: 80px
    &-conteiner
      +grid(4, 6)
      font-size: 15px
      .nav__lang
        justify-content: space-around

+break($noNav)
  .nav
    position: fixed
    width: 100%
    z-index: 1
    background: #fff
    box-shadow: $shadow
    .nav__fixed
      position: relative
      justify-content: space-between
      &-header
        border-right: 1px solid color(lightgray)
        +grid(2, 3)
      &-conteiner
        z-index: 1
        transition: transform .2s
        box-shadow: $shadow
        position: absolute
        width: 100%
        height: 75vh
        top: 0
        background: #fff
      &-conteiner.close
        transform: translateY(-110%)
      &-conteiner.open
        transform: translateY(0)
      &-conteiner .nav__lang
        flex-direction: column
        justify-content: center
        li
          width: 100%
          margin: 10px 0
        a
          padding: 10px
          width: 100%
          +font(24px, 400)

// === Home
+break(800px)
  .content
    h1
      font-size: 35px
    h2
      font-size: 25px

+break($noNav)
  .content .intro
    padding: 0 20px



// === Projects
+break(740px)
  .projects
    padding: 0
    .mini
      +grid(1, 2, 3)

+break($noNav)
  .projects
    padding: 0
    flex-direction: column
    max-width: 100vw
    align-items: center
    .mini
      min-height: 400px
      box-shadow: none
      margin: 10px 0
      width: 95% !important
      &:hover
        .mini__tags
          transform: translateY(0)
        .mini__img
          filter: blur(0)
          height: 100%
  .see-more__tags
    +font(16px, 400)
    a
      padding: 4px 0
