$noNav: 700px

// ==== Projects list
+break(sm)
  .projects
    display: block
  .project
    border-radius: 0
    overflow: visible
    &:hover
      img
        filter: none
  .project__conteiner
    &:hover
      transition: all 0.2s
    h1
      font-size: 20px
      border: none
      box-shadow: none

// ==== Project main page
+break(sm)
  .zoom
    justify-content: flex-start
    &__conteiner,
      padding: 10px 20px
    &__info
      padding: 0
      .markdown
        width: 100%
        box-shadow: none
    &__links
      width: 100%
    +break(700px)
    &__img
      border-radius: 0

// ==== Main layout to column
+break($noNav)
  .main
    flex-direction: column
    &__section
      margin-top: 60px

// ==== Navbar
+break($noNav)


// ==== 'More stuff' section
+break(1440px)
  .more-stuff__conteiner
    +grid(1, 2, 3)

+break(md)
  .more-stuff
    flex-direction: column
    display: block

+break($noNav)
  .more-stuff
    &__conteiner
      margin: 0 0 20px
      border-radius: 0

// ==== Home
+break(md)
  .latest__conteiner .mini
    +grid(1, 2, 3)

+break($noNav)
  .latest__conteiner
    .projects
      flex-direction: column
      max-width: 100vw
  .mini
    width: 100% !important
