.more-stuff
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-column-gap: 20px
  grid-row-gap: 20px
  // @extend .row
  padding: 10px 20px
  img
    transform: none
  justify-content: flex-start
  &__conteiner
    @extend .col, .centrate
    // +grid(1, 3, 3)
    border-radius: 10px
    box-shadow: $shadow
    overflow: hidden
  &__name
    +font(20px, 200)
    margin: 10px 0
    letter-spacing: .15em
  &__info
    white-space: pre-line
    border-bottom: 1px solid color(lightgray)
    padding: 20px
    margin: 0
  &__links
    @extend .zoom__links
  &__live
    @extend .zoom__live
  &__code
    @extend .zoom__code
  &__tags
    @extend .zoom__tags
    margin-bottom: 10px
