$yellow: color(orange)
$green: color(green)
$gray: #9da5b4

.nav
  min-width: 160px
  background: whitesmoke

  &__fixed
    padding-bottom: 10px
    flex-wrap: nowrap
    transform: translateX(0)
    +size(160px, auto)
    position: fixed

    &-header
      @extend .centrate, .row
      padding: 22px 0
      border-bottom: 1px solid color(lightgray)
      .n
        font-weight: 600
        color: color(black)
        text-transform: uppercase
      transition: text-shadow 2s

  &__list-conteiner
    overflow-y: scroll
    padding: 6px

  .list-header
    padding: 14px 0 4px
    text-transform: uppercase
    +font(13px, 400)
    color: color(gray)

  &__lang-list, &__contact-list
    padding-left: 12px
    a, li
      @extend .row
      +font(15px, 200)
      line-height: 1.8em
      align-items: center
      color: color(black)
    a.language:hover
      color: $yellow
    a.contact:hover
      color: $green

  &__contact-list
    img.icon
      margin-right: 6px
      +size(16px, 16px)

li.lang
  position: relative

.nav__active-js, .nav__active-sass, .nav__active-book
  color: $yellow !important
  &::after
    content: ""
    position: absolute
    right: -6px
    border-top: 12px solid transparent
    border-bottom: 12px solid transparent
    border-right: 12px solid #fff


.slide-appear
  opacity: 0.01
  transform: translateX(-100%)

.slide-appear
  &.slide-appear-active
    opacity: 1
    transition: all .3s
    transform: translateX(0)
