.projects
  @extend .centrate, .col
  +size(100%, auto)
  position: relative
  padding: 10px
  margin: 0 auto
  .spinner
    z-index: 999

.project
  border-radius: 10px
  max-width: 720px
  margin-bottom: 10px
  position: relative
  box-shadow: $shadow
  overflow: hidden
  img
    transition: all 1s
  &:hover
    img
      filter: grayscale(100%)
  &__conteiner
    @extend .centrate, .row
    h1
      text-align: center
      padding: 30px
      border: 3px solid white
      box-shadow: 0 17px 50px 0 rgba(black, 0.2), 0 12px 15px 0 rgba(black, 0.25)
    background: rgba(0,0,0, 0.6)
    opacity: 0
    position: absolute
    top: 0
    left: 0
    +size(100%, 100%)
    &:hover
      transition: all 0.6s
      opacity: 1
