.projects
  @extend .row
  +size(100%, auto)
  position: relative
  padding: 10px
  margin: 0 auto
  max-width: 960px
  .spinner
    z-index: 999
  .mini
    flex-grow: 3
    box-shadow: $shadow
    // box-shadow: 0 17px 50px 0 rgba(black, 0.2), 0 12px 15px 0 rgba(black, 0.25)
    position: relative
    +grid(1, 3, 3)
    +size(auto, 400px)
    overflow: hidden
    transition: all .2s
    &:hover
      box-shadow: none
      .mini__conteiner
        background: rgba(black, 0.6)
      .mini__tags
        transform: translateY(0)
      .mini__img
        filter: blur(2px)
        height: 100%

    &__img
      display: flex
      justify-content: center
      height: 105%
      transition: all .2s
      img
        +size(inherit, 100%)

    &__conteiner
      @extend .col, .centrate
      background: rgba(black, 0.5)
      +size(100%, 100%)
      position: absolute
      top: 0
      transition: all .2s
      h1
        padding: 0 10px
        text-align: center
        +font(28px, 400)

    &__tags
      @extend .row, .centrate, .see-more__tags
      width: 100%
      transition: all .2s
      transform: translateY(100%)
      position: absolute
      bottom: 0
      padding: 10px 0
      margin: 0 !important
      a
        font-size: 15px
        color: #fff !important
