:root {
	color-scheme: light;
	--theme-primary: #212129;
	--theme-secondary: #fefefe;
	--theme-primary-soft: #9F9FA3;
	--theme-accent: #78ffaa;
	--header-height: 220px;
	--global-width: 720px;
}

:root.theme-dark {
	color-scheme: dark;
	--theme-primary: #fefefe;
	--theme-secondary: #212129;
	--theme-accent: #78ffaa;
}

html {
 	box-sizing: border-box;
 	font-size: 10px;
 }

 *,
 *:before,
 *:after {
 	box-sizing: inherit;
 }

body {
	color: var(--theme-primary);
	background: var(--theme-secondary);
	padding: 0;
	margin: 0;
	font-size: 1.5rem;
	letter-spacing: 0.02rem;
	font-variant-ligatures: none;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	text-decoration-skip-ink: auto;
	font-family: -apple-system,
		BlinkMacSystemFont,
		Segoe UI,
		Oxygen-Sans,
		Ubuntu,
		Cantarell,
		Helvetica Neue,
		sans-serif
}

::selection {
	color: #000;
	background-color: var(--theme-accent);
}

a {
	text-decoration: none;
	color: var(--theme-primary);
}

a:hover, a:focus, a:active {
	text-decoration: none;
}
