---
import Page from '../layouts/Page.astro'
import Link from '../components/Link.astro'
import SectionContent from '../components/SectionContent.astro'

const mdContent = await Astro.glob('./*.md')
const projects = mdContent.map(({ frontmatter, url }) => ({
  title: frontmatter.title,
  sort: frontmatter.sort,
  slug: url || '',
}))
---

<Page>
  <SectionContent style={{ margin: '16px 0 64px' }}>
    <p>
      Hi 👋<br />
       I'm Axel, a Software Engineer based in Berlin. I'm currently working at <Link href="https://up42.com">UP42</Link>
       as a Staff Frontend Engineer. You can visit my <Link href="https://github.com/afuh">GitHub</Link> profile to
      check my current work.
    </p>
  </SectionContent>
  <section>
    <ul>
      {
        projects
          .sort((a, b) => a.sort - b.sort)
          .map(({ title, slug }) => (
            <li>
              <Link href={slug} style={{ fontSize: '2.4rem' }}>
                {title}
              </Link>
            </li>
          ))
      }
    </ul>
  </section>
</Page>

<style>
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    margin: 16px 0;
  }
</style>
