---
import Container from './Container.astro'
import { getSiteContent } from '../lib/contentful'

type Props = {
  title?: string
}

const siteContent = await getSiteContent()

const { title = siteContent.title } = Astro.props
const isHome = Astro.url.pathname === '/'
---

<header>
  <Container>
    <h1>{title}</h1>
    {isHome && <h2>{siteContent.shortDescription}</h2>}
  </Container>
</header>

<style>
  header {
    display: flex;
    justify-content: center;
    background: var(--theme-secondary);
  }

  h1,
  h2 {
    color: var(--theme-primary);
    margin: 0;
  }

  h1 {
    margin-top: 100px;
    font-weight: 800;
    font-size: 6rem;
  }

  h2 {
    font-weight: 700;
    font-size: 2rem;
  }
</style>
