---
import type { HTMLAttributes } from 'astro/types'
import { marked } from 'marked'

type Props = HTMLAttributes<'section'> & {
  md: string
}

const { class: className, md, ...props } = Astro.props

const renderer = {
  link: (href: string, _title: string, text: string) =>
    `<a href="${href}" ${href.startsWith('http') ? 'target="_blank" rel="noopener noreferrer"' : ''}>${text}</a>`,
}

marked.use({ renderer })
---

<section class:list={[className, 'md', 'markdown-section']} {...props} set:html={marked.parse(md)} />

<style is:global>
  .md p:last-child {
    margin-bottom: 0;
  }

  .md p {
    margin-top: 0;
    font-size: 1.8rem;
    line-height: 1.7;
  }

  .md a {
    text-decoration: underline;
  }

  .md a:hover,
  .md a:active,
  .md a:focus {
    background: var(--theme-primary);
    color: var(--theme-secondary);
    text-decoration: none;
  }
</style>
