---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'section'>

const { class: className, ...props } = Astro.props
---

<section class:list={[className, 'md', 'markdown-section']} {...props}>
  <slot />
</section>

<style is:global>
  .md p:last-child {
    margin-bottom: 0;
  }

  .md p {
    margin-top: 0;
    font-size: 1.8rem;
    line-height: 1.7;
  }

  .md a {
    text-decoration: underline;
  }

  .md a:hover,
  .md a:active,
  .md a:focus {
    background: var(--theme-primary);
    color: var(--theme-secondary);
    text-decoration: none;
  }
</style>
