@import ~sasso/sasso.sass
@import sass/_navbar
@import sass/_header
@import sass/_project

.main
  margin: 0 auto
  max-width: 1920px
  min-height: 100vh
  flex-wrap: nowrap
  &__nav
    +grid(2, 12)
  &__section
    +grid(10, 12)
