---
import '../styles/global.css'

import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import { getSiteContent } from '../lib/contentful'
import Main from '../components/Main.astro'

export type SEO = {
  description: string
  image: {
    url: string
    contentType: string
    size: { width: string; height: string }
  }
}

type Props = {
  title?: string
  seo?: SEO
}

const siteContent = await getSiteContent()

const { title = siteContent.title, seo } = Astro.props
---

<html lang="en">
  <BaseHead title={title} seo={seo} />
  <body>
    <Header title={title} />
    <Main>
      <slot />
    </Main>
  </body>
</html>
