---
import type { ImageMetadata } from 'astro'
import Base from './Base.astro'

type Props = {
  title?: string
  description?: string
  seoImage?: ImageMetadata
}

const {
  title = 'Axel Fuhrmann',
  description = "Hi 👋 I'm Axel, a Software Engineer based in Berlin. I'm currently working at UP42 as a Staff Frontend Engineer.",
  seoImage,
} = Astro.props
---

<Base title={title} description={description} seoImage={seoImage}>
  <header class="container">
    <h1>{title}</h1>
  </header>
  <main class="container">
    <slot />
  </main>
</Base>

<style>
  main {
    padding: 16px 0 80px;
  }
  header {
    margin-top: 80px;
  }

  h1 {
    font-size: 5.4rem;
    font-weight: bold;
    color: var(--theme-primary);
    margin: 0;
  }

  @media (max-width: 50em) {
    header {
      margin-top: 16px;
    }

    h1 {
      font-size: 4rem;
    }
  }

  .container {
    max-width: 1024px;
    margin-left: 12%;
    margin-right: 12%;
  }

  @media (max-width: 50em) {
    .container {
      margin-left: 16px;
      margin-right: 16px;
    }
  }
</style>
